*{margin:0;padding:0;font-family: "微软雅黑";}
*{ -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}
ul,ol,li{list-style:none;overflow-x: hidden;}
a{text-decoration:none;}
html,body{width:100%;
overflow-x: hidden;
}
#footer{
	background: #fff;
}
.left{float:left;}
.right{float:right;}
.clear{overflow: hidden;}
.hidden{display: none;}
.clearFix:after{clear: both;content: '';display: block;}